body {
  font: 12px  Arial;
}
#page{
    width: 1000px;
    height: 800px;
    border: 1px dashed #aaaaaa;
    left: 140px; top: 0;
    position: absolute;
    overflow: hidden;
}
#carousel{
    position: relative;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
}
.carouselPage{
    position: absolute;
}

.frame{
    position: absolute;
}

.controlsManager{
    position: relative;
    left:0;
    top:0;
}
.imgframe {
    /*padding: 5px;*/
    overflow: hidden;
    background-color: #ccc;
}
.imgframe > img{
    position: relative;
}
.framecontrols{
    position: relative;
    top: 0;
    width: 95px;
    height: 20px;
}
.imgcontrols{
    position: absolute;
    margin-left: -40px;
    width: 45px;
    height: 20px;
    z-index: 1000;
}
.imgcontrols > div, .framecontrols > div {
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}

.circle {
    border-radius: 50%/50%;
    -moz-border-radius: 50%/50%;
    -webkit-border-radius: 50%/50%;
}
.hide {
    display: none;
}
.delete {
    background: top left no-repeat url(../assets/delete.gif);
    right: 26px;
}
.download {
    background: top left no-repeat url(../assets/place.png);
    right: 48px;
}
.comment {
    background: top left no-repeat url(../assets/comment.png);
    right: 70px;
}
.file {
    right: 48px;
    overflow: hidden;
    opacity: .01;
}
.resize {
    background: top left no-repeat url(../assets/resize.png);
    right: 5px;
    cursor: nw-resize;
}
.move {
    background: top left no-repeat url(../assets/move.png);
    right: 26px;
    cursor: move;
}
.revert {
    background: top left no-repeat url(../assets/revert.png);
    right: 47px;
}




#thumbs{ position: fixed;  width: 130px; left: 7px}
.thumb{
    width:125px; height: 66px;
    padding: 1px; border: 1px solid #eee;
}
.thumb:hover{ border-color: #A00}
.ng-cloak {
    display:none;
}

.fitted{ width: 100%;}
.counter {
    float: right;
    position: relative;
    bottom: 12px;
    width: 9px;
    height: 11px;
    padding-left: 7px
}
.counter>img{ opacity: .3;}
.activated {background-color: #fff}



#buttons{
    position: absolute;
    left: 10px;
}

#lib{
    width: 100px;
    font-size: 14px;
}

#picsLoadedPanel{
    position: absolute;
    width: 125px;
    height: 1000px;
    left: 1020px;
    top:0;
    background-color: #ddfadf;
}

.canvas{ width: 125px; position: relative; z-index: 0; left: 1000px }



