<div id='carousel' ng-controller="MyCarousel" ng-style="carousel.style">
    <div ng-repeat="page in carousel" class="carouselPage" ng-style="page.style">
        <div ng-repeat="frame in page.frames" class="frame" ng-style="frame.style">
            <div img-Frame ng-style="frame.imgframe" class="imgframe">
                <img class="img fitted" picture ng-src="{{frame.imgdata}}" ng-style="frame.imgstyle">
            </div>

            <div frame-Controls ng-style="frame.framecontrols" ng-show="frame.editing" >
                <div class="delete" ng-click="delete()"></div>
                <input class="file hide" type="file" name="file" />
                <div class="download" ng-click='download()'></div>
                <div class="comment" type="input"></div>
                <div class="revert" ng-click='revert()'></div>
            </div>
            <div img-Controls ng-style="frame.imgcontrols" ng-show="frame.imgEditing">
                <div class="resize"></div>
                <div class="move"></div>
            </div>
        </div>
    </div>
</div>

<div id="buttons">
    <a ng-href="{{gotoPageNum}}" class="btn btn-small" ng-click="addPage()"><i class="icon-plus"></i></a>
    <button type="button" class="btn btn-small" ng-class="{'btn-warning': changed}" ng-click="savePage()" ><i class="icon-exclamation-sign"></i>&nbsp;Save</button>
    <a ng-href="{{gotoPageNum}}" class="btn btn-small" ng-click="prevPage()"><i class="icon-chevron-left"></i></a>
    <input type="text" class="input-mini" ng-click="gotoPage(currPageNum)" ng-model="currPageNum">

    <a ng-href="{{gotoPageNum}}"class="btn btn-small" ng-click="nextPage()"><i class="icon-chevron-right"></i></a>

    <a ng-href="{{gotoPageNum}}" class="btn btn-small btn-info" ng-click="toggleStat()"><!--<i class="icon-list-alt">-->{{statShow}} stats<!--</i>--></a>
    <a ng-href="#/passport"  class="btn btn-small"><i class="icon-user"></i></a>

    <div># of pages:{{pagesNum}}</div>
    <div>Photos placed: {{photos}}</div>
</div>

